#slideshow-carousel{float:left;width:247px;position:relative}
#slideshow-carousel ul{margin:0;padding:0;width:247px;float:left;	list-style:none;}
#slideshow-carousel li{position:relative;float:left;width:239px;padding:5px 5px 5px 3px;border-bottom:1px dotted #828181;}
#slideshow-carousel li .arrow{left:3px;top:28px;position:absolute;width:20px;height:40px; border:0;/*background:url(../images/arrow_white.png) no-repeat 0 0; */display:block;}
#slideshow-carousel .active{filter:alpha(opacity=100); -moz-opacity:1.0; -khtml-opacity: 1.0; 	opacity: 1.0;}
#slideshow-carousel .faded{filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5;}
.jcarousel-skin-tango .jcarousel-container-vertical {width: 247px;height:440px;padding: 0;}
.jcarousel-skin-tango .jcarousel-clip-vertical {width:  247px;float:left; height:398px;margin-top:10px;padding-bottom:10px;}
.jcarousel-skin-tango .jcarousel-item {width: 250px;height: 92px;}
.jcarousel-skin-tango .jcarousel-item-vertical {margin-bottom: 0px;}
.jcarousel-skin-tango .jcarousel-item-placeholder {background: #fff;color: #000;}
/*Vertical Buttons*/
.jcarousel-skin-tango .jcarousel-next-vertical {position: absolute;bottom:-1px;left: 95px;float:left;width:58px;height:17px;cursor: pointer;background:url(../images/next-vertical.png) no-repeat;}
.jcarousel-skin-tango .jcarousel-next-vertical:hover {background-position: 0 0;}
.jcarousel-skin-tango .jcarousel-next-vertical:active {background-position: 0 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {cursor: default; background-position: 0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical {position: absolute;top:-1px;float:left;left:95px;width:58px;height:17px; cursor:pointer;background:url(../images/prev-vertical.png) no-repeat;}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover {background-position:0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical:active {background-position: 0 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {cursor: default;background-position: 0 0;}


