/* CASHBACK AUCTION CSS START */

.bidding_inner ul li a.cashback_icon1{background: url(../images/cashback_icon1.png) left top no-repeat;padding-left:22px;}
.cashback_product_container .penny{ background:url("../images/cashback_icon1.png") no-repeat; display:block; width:17px; height:16px; float:left;margin:0px 3px;}
.cashback .cashback_product{width:46px;height:45px;background:url(../images/cashback.png) no-repeat;float:left;z-index:1;margin:0px;top:-6px;}
.cashback_product_container .cash_icon{ background:url("../images/cashback_icon1.png") no-repeat; display:block; width:17px; height:16px; float:left;margin:0px 3px;}

/* CASHBACK AUCTION CSS END */
